@import './base.css';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

blockquote {
  border-left: 4px solid hsla(160, 100%, 37%, 1);
  padding-left: 1em;
  margin: 0;
  color: hsla(160, 20%, 40%, 0.8);  /* use slightly green grey instead of gray */
}

/* only modify inline code */
code {
  background-color: hsla(0, 0%, 74%, 0.1);
  padding: 0.3em;
  margin: 0;
  border-radius: 4px;
}

/* for code blocks */
pre code {
  background-color: transparent;
  padding: 0;
  overflow-x: auto;
}

pre {
  background-color: hsla(0, 0%, 74%, 0.1);
  padding: 1em;
  margin: 0;
  border-radius: 8px;
  overflow-x: auto;
}
